/* About */



.about-hero {
	background-color: white;
	background-position: 50% 0;
	background-repeat: no-repeat;
	
	@media #{$medium-up} { 
		padding-top: 300px;
		position: relative;
		z-index: 999;
		background-position: 50% 0;
		background-size: 900px auto;

	}
	@media #{$large-up} { 
		padding-top: 500px;
		background-position: 50% 0;
		background-size: 1400px auto;

	}
	@media #{$xlarge-up} { 
		padding-top: 660px;
		background-size: 1600px auto;
	}
}

.main .tagline-container>.row{

	border: none;
}

.tagline-container {
	font-style: italic;
	position: relative;
	z-index: 999;
	background-size: cover;
	background-position: 50% 0;
	background-color: rgba($primary-color,1);
	box-shadow: 1px 120px 350px 0 rgba($primary-color, 0.4);
	p{
		text-align: left;
		font-size: rem-calc(18);
		padding: 0;
		margin-bottom: 0;
		color: white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		@media #{$small-up} {
			font-size: rem-calc(20);
		}
		@media #{$medium-up} {
			font-size: rem-calc(23);
		}
		@media #{$large-up} {
			font-size: rem-calc(26);
		}
	}

	p strong {
		color: $primary-color;
	}

	.row{
		border: none;
	}
}

.tagline {
	/*background: white; */
	/*border-bottom: 1px solid #dfdfdf;*/
	padding: 1em;

	@media #{$medium-up} {
		margin-top: -100px;
		background: rgba($primary-color,0.95);
	}

	@media #{$large-up} {
		padding: 1.3em;
	}
	@media #{$large-up} {
		padding: 1.6em;
	}
}
.tagline-links {
	padding-top: 1em;
	@media #{$medium-up} {
		text-align: right;
	}
}

.tagline-link {
/*  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input); */
	@include button(rem-calc(12), rgba(#333333,0.3), false, false, false, false);
	color: #FFF;
	font-family: "Proxima Nova Condensed", "proxima-nova-condensed", sans-serif;
	font-weight: 600;
	letter-spacing: .05em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	font-style: normal;
	-webkit-transition: all .2s ease-out;
	border: 2px solid white;
	@media #{$large-up}{
		
		margin-bottom: 0.5em;
	}
}

.tagline-link:hover{
	background-color: $secondary-color;
}