
header {
	/*display: none;*/
	display: block;
	background: #fff;
	text-align: center;
	
	text-transform: uppercase;
	@media #{$large-up} { 
		border-bottom: 3px solid $secondary-color;
	}


	h1{

		font-size: rem-calc(22);
		margin-top: 0.4rem;
		margin-bottom: 0rem;

		@media #{$medium-up} { 
			font-size: $h1-font-size;
			margin-top: 0.8rem;
			margin-bottom: 0.55rem;
		}

	}

}

/* Mobile Nav Stuff */

.nav-container{
	border-bottom: 3px solid $secondary-color;
}