
header {
	/*display: none;*/
	display: block;
	background: #fff;
	text-align: center;
	
	text-transform: uppercase;
	@media #{$large-up} { 
		border-bottom: 3px solid $secondary-color;
	}


	h1{
		margin-top: 0.8rem;
		margin-bottom: 0.55rem;

		@media #{$medium-up} { 

		}

	}

}

/* Mobile Nav Stuff */

.nav-container{
	border-bottom: 3px solid $secondary-color;
}