/* Hero */
.hero {
	background-color: white;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 5px solid $primary-color;
	
	@media #{$medium-up} { 
		padding-top: 300px;
		position: relative;
		background-position: 50% 0;
		background-size: 900px auto;

	}
	@media #{$large-up} { 
		padding-top: 500px;
		background-position: 50% 0;
		background-size: 1400px auto;

	}
	@media #{$xlarge-up} { 
		padding-top: 660px;
		background-size: 1600px auto;
	}
}


.tagline-container {
	position: relative;
	background-size: cover;
	background-position: 50% 0;
	/*background-color: rgba($primary-color,1);*/
	/*box-shadow: 1px 120px 350px 0 rgba($primary-color, 0.4);*/
	.row{
		border: none;
	}
}
.main .tagline-container>.row{

	border: none;
}

.tagline {
	/*background: white; */
	/*border-bottom: 1px solid #dfdfdf;*/
	padding: 0.5em;
	font-family: $header-font-family;

	p{
		background: rgba(#000, 0.25);
		display: inline;
		text-align: left;
		font-size: rem-calc(18);
		font-weight: 600;
		letter-spacing: 1px;
		padding: 0.1em;
		margin-bottom: 0;
		color: white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
		@media #{$small-up} {
			font-size: rem-calc(22);
		}
		@media #{$medium-up} {
			font-size: rem-calc(28);
		}
		@media #{$large-up} {
			font-size: rem-calc(30);
		}
	}

	p strong {
		color: $primary-color;
	}

	@media #{$medium-up} {
		margin-top: -200px;
	}

	@media #{$large-up} {
		margin-top: -300px;
		padding: 1.3em;
	}
	@media #{$xlarge-up} {
		padding: 1.4em;
	}
}
.tagline-links {
	padding-top: 1.2em;
	@media #{$medium-up} {
		text-align: center;
	}
}

.tagline-link {
/*  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input); */
	@include button(rem-calc(12), rgba(#333333,0.6), false, false, false, false);
	color: #FFF;
	font-family: "Proxima Nova Condensed", "proxima-nova-condensed", sans-serif;
	font-weight: 600;
	letter-spacing: .05em;
	font-size: rem-calc(20);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	font-style: normal;
	-webkit-transition: all .2s ease-out;
	border: 2px solid white;
	@media #{$large-up}{
		margin-bottom: 0.5em;
	}
}

.tagline-link:hover{
	background-color: $primary-color;
}
