.row.section-container.latest{
    
}

#about {

	.facebook *, .twitter * {
		width: 100% !important;
		max-width: 100% !important;
		height: 200px !important;
		//background: $gray;
		padding: 10px; 
		//box-shadow: 0px 15px 25px -11px rgba($primary-color, .1) inset;
		@media #{$medium-up} {

			height: 400px !important;
		}
		@media #{$large-up} { 
			height: 600px !important;

		}
	}

	.twitter{

		@media #{$medium-up} {
			border-bottom: 0;
		}
	}
	.facebook, .twitter {
		padding-top: 10px;
		padding-bottom: 10px;


		@media #{$large-up} { 
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

}