/* News Section on HomePage */
#news-section {

	#news-list {
		@media #{$large-up} { 
			position: relative;
			z-index: 1000;
		}		
	}

	h2{
		line-height: 1.2;
		font-size: rem-calc(34);
		margin-top: 0;
	}
	.cover {
		background: #f2f2f2;
		padding: 0.8em;
		min-height: 100px;

		@media #{$medium-up} {
			min-height: 150px;
		}

		@media #{$large-up} { 
			min-height: 240px;
		}
	}
	article {
		min-height: 100px;

		@media #{$medium-up} {
			min-height: 150px;
		}
		@media #{$large-up} { 
			min-height: 240px;
		}
		span {
			color: #919191;
		}
	}
	article.has-background{
		background-size: cover;

		h2 a {
			color: lighten($primary-color, 30);
			text-shadow: 0 1px 0 #333;
		}
		span {
			color: #E4E4E4;
			text-shadow: 0 1px 0 #333;
		}
		.cover{
			background: rgba(#000000, 0.3);
		}
	}
}

/* Individual News Page */

.article-header {
	margin-top: 10px;
	img {
		margin-bottom: 1rem;
		width: 100%;
	}
}

.article-text{

}

.article-text.has-image {
	background-color: $body-bg;
	padding: 20px;

	margin-top: -5%;
	@media #{$medium-up} { 
		margin-top: -10%;
	}
	@media #{$large-up} { 
		margin-top: -15%;
	}	
}

/* News section in the sidebar on individual pages */
#news-section.sidebar{
	#news-list {
		h2 {
			font-size: rem-calc(20);
			margin-bottom: 0;
		}
		span{
			font-size: rem-calc(12);
		}
		article{
			min-height: 0;
			
		}
		article .cover {
			background: none;
		}


	}
}

.sidebar-news-list{
  @include block-grid(
    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: 1.1em

  );
}