$body-bg: white;
//$body-bg: #333;

$body-font-color: #222;
//$body-font-color: white;

$gray: #f2f2f2;
//$gray: #666;
$gold: #ffce2f;

// We use these as default colors throughout
$primary-color: #60adbd;
//$primary-color: $gold;
 $secondary-color: $gold;