.latest-gallery {
	.orbit-slide-number, .orbit-timer{display: none;}

}

section#photos {

	.gallery {
		margin-bottom: 1em;

		h2{
			@media #{$large-up}{
			font-size: rem-calc(16);
			}
		}

	}

	.gallery .columns{
		@media #{$large-up}{
			padding-left: 0.3rem;
			padding-right: 0.3rem;
		}
	}
}