/* Subnav Stuff */

[data-magellan-expedition] {
	padding: 0 10px;

	@media #{$large-up} { 
		height: 0;
	}

	.sub-nav .active{
		line-height: 1.6;
	}	
}


.sub-nav-container, .sub-nav-container.fixed {

	border-bottom: 3px solid $secondary-color;
	/*background: white;*/
	z-index: 1000;

	@media #{$large-up} { 
		background: none;
		position: fixed;
		min-width: 100px;
		max-width: 100px;
		right: 0;
		top: 45% !important;
		left: auto;
		float: right;
		border: none;
		display: block;
		z-index: 999;
	}

}

.sub-nav-container h1 {
	font-size: rem-calc(22);
	margin: 0.2rem 0;
	@media #{$large-up} { 
		display: none;
	}
}


.sub-nav {
	padding: 0;
	text-align: center;

	@media #{$large-up} { 
		text-align: left;
		/*background: white;*/
	}
}

.sub-nav dd {
	position: relative;
	z-index: 1;
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0 0 0.25em;
	padding-top: 0.7em;
	display: inline-block;
	float: none;

	a {color: $body-font-color;}

	@media #{$large-up} { 
		display: block;
		padding: 0;
		margin: 0 0 0.25em;
		padding-top: 0.3em;
	}

}

.sub-nav dd {
	


}
.sub-nav dd:before{

	@media #{$large-up} { 
	  content: "";
	  position: absolute;
	  	top: 47%;
	  	left: 1%;
		width: 7px;
		height: 7px;
		background: lighten($body-font-color, 60);
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}
}

.sub-nav dd.active:before{

	@media #{$large-up} { 
	  content: "";
	  position: absolute;
	  	top: 39%;
	  	left: 0%;
	  	right: 1%;
		width: 12px;
		height: 12px;
		background: $secondary-color;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}
}

.sub-nav dd a {
	padding-left: 0;
	padding-top: 0.1em;
	text-transform: lowercase;
	padding: 0 1rem;
}

.sub-nav dd.active a {
	padding-left: 20px 1rem;
	@media #{$large-up} { 

	}
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	background: none;
	color: $body-font-color;
	padding-top: 0;
	font-weight: bold;
	/*padding: 0.1875rem 1rem;*/
	padding: 0 1rem;

	@media #{$large-up} {
		
	}

}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover{
	background: none;
}
