/* Import Foundation, Settings, Division Stuff, other "import"ant things. */
@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../division-bar/css/_division-bar.css";
@import "icons";
@import "grid-simple";

@import "../font/foundation-icons/foundation-icons.css";

/* Import Site Layout Stuff */
@import "header";
@import "subnav";
@import "hero";

@import "about";
@import "photos";
@import "news";


@import "footer";

h1, h2, h3, h4 h5 {
	letter-spacing: 1px;
}

h2 {
	color: #888;
}

hr {
  border-color: $gray;
 }
.main .button{
	text-transform: uppercase;
	font-family: $header-font-family;
	font-size: rem-calc(20);
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.5em;

	display: block;

	@media #{$medium-up}{
		display: inline-block;
	}
}
.clearfix {
  @include clearfix;
}

/* Override Division Bar Wrapper Width */

.wrapper {
	 @include grid-row();
}

/* Section Stuff */

.row.section-container {
	background :white;
	border-bottom: 1px solid #f2f2f2;
	position: relative;

}

section h1 {
	text-align: center;
	margin: 20px 0;
	text-transform: uppercase;
	//border-bottom: 3px solid #999;

	@media #{$large-up} { 
		margin: 40px 0;
		line-height: 1;
		font-size: rem-calc(52);
	}
}

section {
	margin-top: 20px;
	margin-bottom: 20px;
	@media #{$large-up} { 
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
.section-bottom-nav{
	text-align: center;
	margin-bottom: 0;
}
.anchor{
	padding: 10px 0;
	height: 20px;
	display: block;
}

/* Single Page Styles */
.main .breadcrumbs {
	border-bottom: 1px solid #f2f2f2;
	display: none;
	padding-left: 0;

	a {
		@extend .button;
		font-size: rem-calc(14);
		background: #eee;
		border: #ccc;
		color: $body-font-color;
		margin-bottom: 0;
	}

	.current a{
		background :none;
		color: $body-font-color;
	}

	@media #{$large-up} { 
		display: block;
	}
}

/* Block Grid List */
.block-list {
	h1, h2, h3 {
		line-height: 1;
		margin-bottom: 0;
		font-weight: normal;
	}
	h2{
		font-size: rem-calc(32);
	}
	span {
		color: #9E9E9E;
		line-height: 1;
	}
	@media #{$large-up} { 
		position: relative;
		@include block-grid(
		    // This controls how much space is between each item in the block grid.
		    // Use a variable or any pixel or em values.
		    $spacing: 1.6em
		);
	}	
}
/* Cover Image in a Block Grid List */
.block-list .cover-image{
	display: block;
	height: 120px;
	overflow: hidden;
	background-size: cover;
	background-position: 0 30%;

	@media #{$medium-up} {
		height: 120px;
	}

	@media #{$large-up} { 
		height: 188px;
	}		
}


/* Sidebar */


.sidebar {
	h2, h3{
		line-height: 1;
	}
	h2 {
	font-size: rem-calc(22);
	font-weight: normal;
	}

	h3{
	font-size: rem-calc(18);
	font-weight: normal;
	}

}


.sidebar-list{

	background: white;

		span{
			font-size: rem-calc(12);
			color: #9E9E9E

		}
		article{
			min-height: 0;
			
		}
		article .cover {
			background: none;
		}

		.cover-image{
			height: 80px;
		}
}

.sidebar-list{
  @include block-grid(
    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: 1.1em

  );
}
/* Blur Stuff */

/* don't bother enabling blur on oudated browsers */
.effect {
	display: none;
}
.blur-supported .effect {
	@media #{$large-up} { 
		height: 200px;
		display: block;
		/*z-index: 1;*/
		z-index: -99;
		position: absolute;
		top: 30%;
		bottom: 0;
		left: 1.5%;
		width: 95%;
		background-position: 0 105%;
		background-size: cover;
		-webkit-filter: blur(80px);
		-webkit-transform: scaleY(-1);
	    transform: scaleY(-1);
	}
}

.blur-supported .effect.home{
	-webkit-filter: blur(70px);
	background-position: 0;
	background-color: $primary-color;

	@media #{$medium-up}{
		top: 23%;
	}
	@media #{$large-up}{

	}
}

.button.nav {
	background: #ededed;
	color: $primary-color;
	border: 1px solid #ccc;
}


