/* Import Foundation, Settings, Division Stuff, other "import"ant things. */
@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../division-bar/css/_division-bar.css";
@import "icons";
@import "grid-simple";

@import "../font/foundation-icons/foundation-icons.css";

/* Import Site Layout Stuff */
@import "header";
@import "subnav";
@import "about";
@import "news";
@import "footer";
@import "latest";

h1, h2, h3, h4 h5 {
	letter-spacing: 1px;
}

.main .button{
	text-transform: uppercase;
	font-family: $header-font-family;
	font-size: rem-calc(20);
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.5em;

	display: block;

	@media #{$medium-up}{
		display: inline-block;
	}
}
.clearfix {
  @include clearfix;
}

/* Override Division Bar Wrapper Width */

.wrapper {
	 @include grid-row();
}

/* Section Stuff */

.row.section-container {
	background :white;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
	z-index: 99;

}

section h1 {
	text-align: center;
	margin: 20px 0;
	text-transform: uppercase;
	//border-bottom: 3px solid #999;

	@media #{$large-up} { 
		margin: 40px 0;
		line-height: 1;
		font-size: rem-calc(52);
	}
}

section {
	margin-top: 20px;
	margin-bottom: 20px;
	@media #{$large-up} { 
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.anchor{
	padding: 10px 0;
	height: 20px;
	display: block;
}

/* Single Page Styles */
.breadcrumbs {
	border-bottom: 1px solid #f2f2f2;
	display: none;
	padding-left: 0;

	@media #{$large-up} { 
		display: block;
	}
}

/* Blur Stuff

/* don't bother enabling blur on oudated browsers */
.effect {
	display: none;
}
.blur-supported .effect {
	@media #{$large-up} { 
		height: 200px;
		display: block;
		/*z-index: 1;*/
		z-index: -99;
		position: absolute;
		top: 30%;
		bottom: 0;
		left: 1.5%;
		width: 95%;
		background-position: 0 105%;
		background-size: cover;
		-webkit-filter: blur(80px);
		-webkit-transform: scaleY(-1);
	    transform: scaleY(-1);
	}
}

.blur-supported .effect.home{
	-webkit-filter: blur(70px);
	background-position: 0;
	background-color: $primary-color;

	@media #{$medium-up}{
		top: 23%;
	}
	@media #{$large-up}{

	}
}


