/* Import Foundation, Settings, Division Stuff, other "import"ant things. */
@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../division-bar/css/_division-bar.css";
@import "icons";
@import "grid-simple";

/* Import Site Layout Stuff */
@import "header";
@import "subnav";
@import "about";
@import "news";
@import "footer";

/* Section Stuff */

.row.section-container {
	background :white;
	border-bottom: 1px solid #f2f2f2;
}

section h1 {
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0;

	@media #{$large-up} { 
		margin: 40px 0;
		font-size: rem-calc(64);
	}
}

section {
	margin-top: 20px;
	margin-bottom: 20px;
	@media #{$large-up} { 
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.anchor{
	padding: 10px 0;
	height: 20px;
	display: block;
}

/* Single Page Styles */
.breadcrumbs {
	border-bottom: 1px solid #f2f2f2;
	display: none;
	padding-left: 0;

	@media #{$large-up} { 
		display: block;
	}
}




