$body-bg: #333;
$body-font-color: #D9D9D9;
$gray: #808F95;
$gold: #ffce2f;

$primary-color: $gold;
$secondary-color: $gold;

.button{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	font-weight: bold;
}